<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xbiztechventures.lapp">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity"></activity>
        <activity android:name=".activity.RegisterActivity" />
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AboutUsActivity"
            android:label="About Us" />
        <activity
            android:name=".activity.LedgerActivity"
            android:label="Order Log" />
        <activity
            android:name=".activity.TrackStatusActivity"
            android:label="Track Order" />
        <activity android:name=".activity.SelectTimeSlot" />
        <activity
            android:name=".activity.FAQActivity"
            android:label="FAQ&apos;s" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SrAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PickupTimeslot"></activity>
    </application>

</manifest>